.showCryptoCurrencies {
    width: 100%;
    height: 300px;
    background: #0a0b0b;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.CryptoCurrenciesText {
    font-size: 32px;
    font-family: 'Unbounded';
    font-weight: 500;
}

.CryptoCurrency {
    font-family: 'Unbounded';
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.CryptoCurrency span {
    color: #82ff82;
}