.VerificationButton {
    border-radius: 500px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 6px 12px;
}

.VerificationButton svg {
    width: 20px;
    height: 20px;
}

.VerificationContainer {
    width: 300px;
    height: 300px;
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    cursor: pointer;
}

.VerificationText {
    font-family: 'Unbounded';
    font-size: 32px;
    font-weight: 500;
}

.VerificationValue {
    font-family: 'Unbounded';
    font-size: 24px;
    font-weight: 400;
}

.VerificationForm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.VerificationForm form {
    width: 1000px;
    height: 600px;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: default;
    box-shadow: 0px 0px 32px 8px #000;
}

.VerificationForm form > div {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.VerificationForm form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.VerificationForm form input {
    width: 300px;
}

.closeFormButton {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background: #1e1e1e;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    right: -40px;
    z-index: -1;
    cursor: pointer;
}

.closeFormButton > * {
    width: 24px;
    height: 24px;
    z-index: -1;
}

.VerificationForm form {
    animation: ani .3s forwards ease;
}

@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
}

