.VerificationButton {
    border-radius: 500px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 6px 12px;
}

.VerificationButton svg {
    width: 20px;
    height: 20px;
}

.VerificationContainer {
    width: 300px;
    height: 300px;
    background: linear-gradient(#ffffff, #707070);
    color: #000000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.VerificationText {
    font-family: 'Unbounded';
    font-size: 32px;
    font-weight: 500;
}

.VerificationValue {
    font-family: 'Unbounded';
    font-size: 24px;
    font-weight: 400;
}

.VerificationForm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.VerificationForm form {
    max-width: 1000px;
    height: 500px;
    overflow-y: auto;
    width: 100%;
    background: #1e1e1e;
    padding: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: default;
    box-shadow: 0px 0px 32px 8px #000;
}

/* width */
.VerificationForm form::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.VerificationForm form::-webkit-scrollbar-track {
    background: #1e1e1e;
}

/* Handle */
.VerificationForm form::-webkit-scrollbar-thumb {
    background: #2f2f2f;
}

/* Handle on hover */
.VerificationForm form::-webkit-scrollbar-thumb:hover {
    background: #373737;
}

.VerificationForm form > div {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.VerificationForm form > div:nth-child(1) {
    position: sticky;
    top: 5px;
}

.VerificationForm form > div:nth-child(1) > h2 {
    margin: 0 auto;
}

.VerificationForm form > div:nth-child(1) > div {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.VerificationForm form > div:nth-child(1) > div > div {
    width: 260px;
    padding: 15px;
    border: 1px solid #494949;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.VerificationForm form > div:nth-child(1) > div > div > svg {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.VerificationForm
    form
    > div:nth-child(1)
    > div:not(:nth-child(5))
    > div::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 48px;
    left: 130px;
    bottom: -48px;
    background: #494949;
}

.VerificationForm form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.VerificationForm form input {
    width: 300px;
}

.closeFormButton {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    background: #1e1e1e;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    right: -40px;
    z-index: -1;
    cursor: pointer;
}

.closeFormButton > * {
    width: 24px;
    height: 24px;
    z-index: -1;
}

.VerificationForm form {
    animation: ani 0.3s forwards ease;
}

@keyframes ani {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.formSplitter {
    width: 100%;
    padding: 12px 0 0 0;
    border-top: 1px solid #494949;
}

.VerificationForm input[type='file'] {
    display: none;
}

.VerificationForm label[for='documentFile1'] {
    border: 2px dashed #494949;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.VerificationForm label[for='documentFile2'] {
    border: 2px dashed #494949;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.VerificationForm label[for='documentFile1']:hover {
    border: 2px dashed #707070;
}

.VerificationForm label[for='documentFile2']:hover {
    border: 2px dashed #707070;
}

.successfulUpload {
    border: 2px dashed #82ff82 !important;
}
