.VerificationButton {
    border-radius: 500px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 6px 12px;
}

.VerificationButton svg {
    width: 20px;
    height: 20px;
}

.VerificationContainer {
    width: 300px;
    height: 300px;
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.VerificationText {
    font-family: 'Unbounded';
    font-size: 32px;
    font-weight: 500;
}

.VerificationValue {
    font-family: 'Unbounded';
    font-size: 24px;
    font-weight: 400;
}

.VerificationForm {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.VerificationForm form {
    width: 1200px;
    height: 600px;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.closeFormButton {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: -40px;
}

.closeFormButton > * {
    width: 24px;
    height: 24px;
    margin-top: 4px;
}

.VerificationForm form {
    animation: ani .3s forwards;
}

@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
}

