.PaymentButton {
    border-radius: 500px;
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    gap: 2px;
    padding: 6px 12px;
}

.PaymentButton svg {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}